@import url(header.css);
@import url(news.css);
@import url(charts.css);
@import url(videos.css);

body{
    font-family: Programme, Arial, sans-serif;
}
main{
    display: grid;
    justify-content: center;
    grid-template-rows: .9fr 1.3fr .8fr 1fr 1fr;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
